<div id="<%= dom_id short_url %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Original url:</strong>
    <%= short_url.original_url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= short_url.slug %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= short_url.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Clicks count:</strong>
    <%= short_url.clicks_count %>
  </div>
</div>
